@model IEnumerable<Event_Management.Models.UserEvent>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (User.IsInRole("User") && Model.Count() != 0){
    <table class="table">
        <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Event Location</th>
            <th>Event Description</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Event.Title</td>
                <td>@item.Event.DateTime</td>
                <td>@item.Event.Location</td>
                <td>@item.Event.Description</td>
                <td>
                    <a class="btn btn-primary" asp-action="Accept" asp-route-id=@item.Id>Accept</a>
                    <a class="btn btn-danger" asp-action="Reject" asp-route-id=@item.Id>Reject</a>
                </td>
            </tr>
        }
    </table>
}
